body{
  font-family:'Quattrocento Sans', sans-serif;
  background-color: #9A55B2;
  font-size: 1vw;
  margin: 0;
}

/*CSS GRID--header-container--ADOPTED CODE START--*/

/*The CSS Grid concept has been adopted, published by:
* Author: MDN contributors,
* Retrieval date: 21/10/19,
* URL: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout
*/

.header-container{
  display: grid;
  background-color: #791B99;
  padding: 1vw;
  padding-top: 0;/*change in order to place hamburger label*/
  padding-bottom: 3vw;
  font-size: 2vw;
  font-family: 'Quattrocento', serif;
}

.menu {
  display: grid;
  text-align: left;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-template-columns: 2fr 0.1fr 0.1fr 0.1fr 0.1fr; /* divide into 5 fractions, to place the items accordingly*/
}
/*CSS GRID--header-container--ADOPTED CODE END--*/

.fade:hover {
  opacity: 0.5;
}

.nx {
  transition: 0.25s ease;
}

/*header-container--end*/

/*burger---ADOPTED CODE START--*/

/*The adopted and referenced burger menu code has been published by:
* Author: W.S. Toh,
* Retrieval date: 23/10/19,
* URL: https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/#
*/

#page-nav {
  width: 100%;
  /* If you want the navigation bar to stick on top
  position: sticky;
  top: 0; */
}

/* Hide Burger applied on resolutions above 768px */
#page-nav label, #hamburger {
  display: none;
}

/* Menu Items applied on resolutions above 768px */
#page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#page-nav ul li {
  display: inline-block;
  padding: 7px; /*amended due to burger's element spacing*/
  box-sizing: border-box;
}
#page-nav ul li a {
  color: #fff;
  text-decoration: none;
}

/*burger---ADOPTED CODE END--*/

/*container-1---start*/

.container-1 {
  display: grid;
  background-color: #9A55B2;
  padding: 1.5vw;
  padding-bottom: 1vw;
}

.slogans {
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  padding: 4.5vw;
  font: bolder 2vw 'Quattrocento', serif;
}

.uni {
  border: 1px solid black;
  width: 100%;
  height: 35vw;
  max-width: 100%;
}

.screen {
  color: black;
  mix-blend-mode: screen;
  background-color: rgba(244, 220, 211); /* RGB calculator used to obtain the colour*/
}
/*container-1---end*/

.container-study {
  background-color: #9A55B2;
  justify-content: space-between;
  padding: 1.5vw;
  font-size: 1.2vw;
  display:grid;
  grid-template-columns: 1fr 1fr; /*divide into 2 equal areas to place items*/
  grid-template-areas: /* each must be given the authentic name to associate to particular grid item*/
  'study research';
  grid-gap: 7vw;
}

.study {
  display: grid;
  text-align: justify;
  grid-area: study;
}

.research {
  display: grid;
  text-align: justify;
  grid-area: research;
}

.respons {
  border: 1px solid black;
  width: 100%;
  height: 27vw;
  max-width: 100%;
}

.research p:after{
  content: " -Read more… ";
  color: #ee6352;
}

.study p:after{
  content: " -Read more… ";
  color: #ee6352;
}

/*container-study---end*/

/*container-2---start*/

.container-2 {
  background-color: #9A55B2;
  justify-content: space-between;
  padding: 1.5vw;
  font-size: 1vw;
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
  'quote1 student';
  grid-gap: 10vw;
}

.quote1 {
  grid-area: quote1;
  background-color: #9A55B2;
}

.student {
  grid-area: student;
  background-color: #9A55B2;
}

.quote1 p {
  font-size: 1vw;
  text-align: right;
}

.quote1 {
  font-size: 3vw;
  text-align: center;
  font-family: 'Quattrocento', serif;
}

.moc {
  border: 1px solid black;
  width: 100%;
  height: 25vw;
  display: block;
  margin-bottom: 1vw;
}

/*container-2---end*/

/*container-3---start*/

.container-3 {
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #9A55B2;
  display:grid;
  grid-template-areas:
  'box1 box2 box3';
  grid-column-gap: 10vw;
  padding: 1.5vw;
  padding-top: 0.2vw;
}

.container-3-box1 {
  grid-area: box1;
  background-color: #9A55B2;
  border: 1px solid black;
}

.container-3-box2 {
  grid-area: box2;
  background-color: #9A55B2;
  border: 1px solid black;
}

.container-3-box3 {
  grid-area: box3;
  background-color: #9A55B2;
  border: 1px solid black;
}

.pons {
  width: 100%;
  height: 20vw;
}

/*container-3---end*/

/*footer-container---start*/

.footer-container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  background-color: #791B99;
  color: #ee6352;
  padding: 1.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  font-size: 1.5vw;
  font-family: 'Quattrocento', serif;
}

.pnty{
  text-align: right;
}

.ft {
  grid-column-start: 1;
}

/*footer-container---end*/

a {
  text-decoration: none;
  color: #ee6352;
}

h1, h2, h3 {
  font-family: 'Quattrocento', serif;
  color:#ee6352;
}

cite {
  font-size: .6vw;
  margin-top: 1.2vw;
}

/************************************ MEDIA QUERIES**********************/

/* Small devices (768px and down) */
@media screen and (max-width: 768px){
  .container-study {
    grid-template-columns:none;
    display:grid;
      grid-template-areas: /*placing item after each other to create required media layout*/
      'study'
      'research';
    grid-gap: 1em;
    font-size: 5vw;
}

.header-container{
  padding-top: 2.5vw;
  padding-bottom: 3.5vw;
  font-size: 5vw;
}

.uni {
  height: 70vw;
}

.respons {
  height: 70vw;
  display: block;
}

.slogans{
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  font-size: 5vw;
}

.container-2 {
  grid-template-columns:none;
  display:grid;
    grid-template-areas:
    'quote1'
    'student';
  grid-gap: 10vw;
  font-size: 5vw;
  padding-left: 14vw;
}

.quote1 q {
  text-align: right;
}

.quote1 p {
  font-size: 3.5vw;
}

.quote1 {
  text-align: right;
}

.student {
  display: none;
}

.container-3{
  display: block;
}

.container-3-box1,.container-3-box2, .container-3-box3 {

  flex-wrap: wrap;
  border: 1px solid black;
  font-size: 5vw;
}

.pons {
  width: 100%;
  height: 60vw;
}

.footer-container{
  font-size: 5vw;
  /* display: none; */  /* to comply with the updated task please refer to M.Chorley's:  https://stackoverflow.com/c/comsc/questions/71 */
}

.pnty {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.ft {
grid-column-start: 1;
}

cite {
  font-size: 2.4vw;
}

q {
  font-size: 7.5vw;
}

#h1 {
  display: none;
  /* position: absolute; */
}

}

/*burger @media---ADOPTED CODE START--*/

/*The adopted and referenced burger menu code has been published by:
* Author: W.S. Toh,
* Retrieval date: 23/10/19,
* URL: https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/#
*/

@media screen and (min-width: 768px){
#h2 {
  display: none;
}

}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* Show Hamburger */
  #page-nav label {
    color:#fff;
    font-style: normal;
    font-size: 1.7em;
    padding: 0;
    padding-right: 2vw; /*----reduced to fit into the burger---*/
    display: inline-block;
    position: absolute; /*----to set the burger's position with in the page---*/
    right: 0;/*----position---*/
    top: 0; /*----position---*/
  }

  /* Break down menu items into vertical */
  #page-nav ul li {
    display: block;
  }

  /* Toggle show/hide menu on checkbox click */
  #page-nav ul {
    display: none;
  }

  #page-nav input:checked ~ ul {
    display: block;
    text-align: right;
    font-size: 5vw;
  }

  #h2 { /*ID h2 attribute added to comply with desing & responsive content */
    display: grid;
    grid-template-columns: 1fr 1fr; /* FR allows to position and break the item font as per customer requirements*/
  }

}
/*burger @media---ADOPTED CODE END--*/
/*burger @media---ADOPTED CODE END--*//*burger @media---ADOPTED CODE END--*//*burger @media---ADOPTED CODE END--*//*burger @media---ADOPTED CODE END--*/

/*RESEARCH CSS PART START--*/
/*RESEARCH CSS PART START--*/
/*RESEARCH CSS PART START--*//*RESEARCH CSS PART START--*/
/*RESEARCH CSS PART START--*/
/*RESEARCH CSS PART START--*/
/*RESEARCH CSS PART START--*/
/*RESEARCH CSS PART START--*/
/*RESEARCH CSS PART START--*/


body{
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 0;
  background-color: #A993FF;
  font-size: 1.5vw;
}

/*header-container--start*/

.header-container{
  display: grid;
  background-color: #791B99;
  padding: 1vw;
  padding-top: 0;/*pakeista del burger*/
  padding-bottom: 3vw;
  font-size: 2vw;
  font-family: 'Quattrocento', serif;
}

.menu {
  display: grid;
  text-align: left; /*pakeista del burger*/
  grid-column-start: 2;
  grid-row-start: 1;
  grid-template-columns: 2fr 0.1fr 0.1fr 0.1fr 0.1fr; /* divided into 5 fractions, to place the items accordingly*/
}

.fade:hover {
  opacity: 0.5;
}

.nx {
  transition: 0.25s ease;
}

/*header-container--end*/

/*burger---ADOPTED CODE START--*/

/*The adopted and referenced burger menu code has been published by:
* Author: W.S. Toh,
* Retrieval date: 23/10/19,
* URL: https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/#
*/

#page-nav {
  width: 100%;
  /* If you want the navigation bar to stick on top
  position: sticky;
  top: 0;
  */
}

/* Hide Burger applied on resolutions above 768px */
#page-nav label, #hamburger {
  display: none;
}

/* Menu Items applied on resolutions above 768px */
#page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#page-nav ul li {
  display: inline-block;
  padding: 7px; /*amended due to burger's element spacing*/
  box-sizing: border-box;
}

#page-nav ul li a {
  color: #fff;
  text-decoration: none;
}

/*burger---ADOPTED CODE END--*/

.research-heading {
  padding-left: 1.5vw;
  box-sizing: border-box; /*hover area*/
  width: 50px;
  height: 50px;
}

/*wrapper---start*/

.wrapper{
  display: grid;
  grid-template-areas:
  'research_img1 research-item1'
  'research-item5 research_img2'
  'research_img3 research-item3';
  grid-row-gap: 5em;
  grid-column-gap: 2em;
  padding: 1.5vw;
  padding-top: 0.2vw;
  padding-bottom: 7.5vw;
}

.responsive {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.research-h1 {
  grid-area: research-h1;
}

.research-h2 {
  grid-area: research-h2;
}

.research-h3 {
  grid-area: research-h3;
}

.research-item1 {
  text-align: right;
  grid-area: research-item1;
}

.research-item5 {
  text-align: left;
  grid-area: research-item5;
}

.research-item3 {
  text-align: right;
  grid-area: research-item3;
}

.research_img1{
  grid-area: research_img1;
}

.research_img2{
  grid-area: research_img2;
}

.project_img3{
  grid-area: research_img3;
}

.research-h1-phone, .research-h2-phone, .research-h3-phone{
  display: none;
}

/*wrapper---end*/

/*footer-container---start*/

.footer-container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  background-color: #791B99;
  color: #ee6352;
  padding: 1.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  font-size: 1.5vw;
  font-family: 'Quattrocento', serif;
}

.pnty{
  text-align: right;
}

.ft {
  grid-column-start: 1;
}

/*footer-container---end*/

cite {
  font-size: .5vw;
}

a {
  text-decoration: none;
  color: #ee6352;
}

h1,h2{
  font-family: 'Quattrocento', serif;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
}

/************************************ MEDIA QUERIES**********************/

/*burger @media---ADOPTED CODE START--*/

/*The adopted and referenced burger menu code has been published by:
* Author: W.S. Toh,
* Retrieval date: 23/10/19,
* URL: https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/#
*/

@media screen and (min-width: 768px){
#h2 {
  display: none;
}

}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* Show Hamburger */
  #page-nav label {
    color:#fff;
    font-style: normal;
    font-size: 1.7em;
    padding: 0;
    padding-right: 2vw; /*----reduced to fit into the burger---*/
    display: inline-block;
    position: absolute; /*----to set the burger's position with in the page---*/
    right: 0; /*----position---*/
    top: 0; /*----position---*/
  }

  /* Break down menu items into vertical */
  #page-nav ul li {
    display: block;
  }

  /* Toggle show/hide menu on checkbox click */
  #page-nav ul {
    display: none;
  }
  #page-nav input:checked ~ ul {
    display: block;
    text-align: right;
    font-size: 5vw;
  }

  #h2 { /*ID h2 attribute added to comply with desing & responsive content */
    display: grid;
    grid-template-columns: 1fr 1fr; /* FR allows to position and break the item font as per customer requirements*/
  }

}
/*burger @media---ADOPTED CODE END--*/

/* Small devices (phones, 768px and down) */
@media (max-width: 768px) {
    .wrapper{
      display:grid;
      grid-template-areas:
      'research-h1'
      'research_img1'
      'research-item1'
      'research-h2'
      'research_img2'
      'research-item5'
      'research-h3'
      'research_img3 '
      'research-item3';
      grid-row-gap: 0;
      padding-bottom: 0;
}

.research-h1, .research-h2, .research-h3{
  display: none;
}

.research-h1-phone{
  display: block;
  text-align: right;
  margin-bottom: 0;
  margin-top: 2vw;
}

.research-h2-phone, .research-h3-phone{
  display: block;
  text-align: right;
  margin-bottom: 0;
}

/*
.research-p3 {
  display: none;
} */    /* to comply with the updated task please refer to M.Chorley's:  https://stackoverflow.com/c/comsc/questions/71 */

.header-container{
  padding-top: 2.5vw;
  padding-bottom: 3.5vw;
  font-size: 5vw;
}

.research-heading{
  margin-bottom: 3.5vw;
  font-size: 12vw;
}

.footer-container{
  font-size: 5vw;
  /* display: none; */ /* to comply with the updated task please refer to M.Chorley's:  https://stackoverflow.com/c/comsc/questions/71 */
}

.pnty {
grid-column-start: 2;
grid-row-start: 2;
grid-row-end: 4;
}

h1, h2 {
  font-size: 10vw;
}

p {
  font-size: 5vw;
  text-align: left;
}

cite {
  font-size: 2.4vw;
}

#h1 {
  display: none;
}
}

/*RESEARCH CSS PART END--*/

/*STUDY CSS PART START--*/

/* uzmest ID*//* uzmest ID*//* uzmest ID*//* uzmest ID*/
body{
  background-color: #A993FF;
  font-size: 1.5vw;
}
/* uzmest ID*//* uzmest ID*//* uzmest ID*//* uzmest ID*/

.study-heading {
  padding-left: 1.5vw;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}

/*wrapper---start*/

.wrapper{
  display:grid;
  grid-template-areas:
  'course_img1 course-item1'
  'course-item5 course_img2'
  'course_img3 course-item3';
  grid-row-gap: 5em;
  grid-column-gap: 2em;
  padding: 1.5vw;
  padding-top: 0.2vw;
  padding-bottom: 7.5vw;
}

.responsive {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.course-h1 {
  grid-area: course-h1;
}

.course-h2 {
  grid-area: course-h2;
}

.course-h3 {
  grid-area: course-h3;
}

.course-item1 {
  text-align: right;
  grid-area: course-item1;
}

.course-item5 {
  text-align: left;
  grid-area: course-item5;
}

.course-item3 {
  text-align: right;
  grid-area: course-item3;
}

.course_img1{
  grid-area: course_img1;
}
.course_img2{
  grid-area: course_img2;
}
.course_img3{
  grid-area: course_img3;
}

.course-h1-phone, .course-h2-phone, .course-h3-phone{
  display: none;
}

/*wrapper---end*/



/************************************ MEDIA QUERIES**********************/


/* Small devices (phones, 768px and down) */
@media (max-width: 768px) {
    .wrapper{
      display:grid;
      grid-template-areas:
      'course-h1'
      'course_img1'
      'course-item1'
      'course-h2'
      'course_img2'
      'course-item5'
      'course-h3'
      'course_img3 '
      'course-item3';
      grid-row-gap: 0;
      padding-bottom: 0;
}

.course-h1, .course-h2, .course-h3 {
  display: none;
}

.course-h1-phone{
  display: block;
  text-align: right;
  margin-bottom: 0;
  margin-top: 2vw;
}

.course-h2-phone, .course-h3-phone{
  display: block;
  text-align: right;
  margin-bottom: 0;
}

/* .course-p3 {
  display: none;
} */  /* to comply with the updated task please refer to M.Chorley's:  https://stackoverflow.com/c/comsc/questions/71 */

.header-container {
  padding-top: 2.5vw;
  padding-bottom: 3.5vw;
  font-size: 5vw;
}

.study-heading{
  margin-bottom: 3.5vw;
  font-size: 12vw;
}

.footer-container{
  font-size: 5vw;
  /* display: none; */ /* to comply with the updated task please refer to M.Chorley's:  https://stackoverflow.com/c/comsc/questions/71 */
}

/*STUDY CSS PART END--*/








